@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

main {
  width: 100%;
  padding: 1rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

/* Navbar */

header {
  top: 0;
  padding-left: 0;
  padding-right: 0;
  position: sticky;
  box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
}

nav {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(5px);
  justify-content: space-between;
}


.judul h2 {
  color: #FAEBCD;
  font-size: 1.2rem;
}

nav img {
  width: 45px;
}

.link-con {
  display: flex;
}

.link {
  padding: 8px;
  color: #FAEBCD;
  font-size: 1.2rem;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.drop {
  display: flex;
  flex-direction: column;
}

.wrapper {
  top: 50px;
  width: auto;
  height: auto;
  display: flex;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  background: #FAEBCD;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.wrapper a {
  padding: 10px;
}

.drop:hover .wrapper {
  max-height: 150px;
}

.more-link {
  color: #222;
  padding: 6px;
  text-decoration: none;
}

.judul {
  padding: 8px;
  display: flex;
  align-items: center;
}

/* Content */

.parent {
  display: flex;
  flex-direction: column;
}

.div1 {
  margin: 1rem;
  color: #FAEBCD;
  text-align: center;
}

.profile {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}

.div2 {
  display: flex;
  align-items: center;
}

.div2 span {
  margin: 8px;
  color: #FAEBCD;
  font-weight: bold;
  font-size: 1.2rem;
}

.div2 img, .div3 img {
  width: 50px;
  border-radius: 50%;
}

.thumbnail img{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.content {
  color: #FAEBCD;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.content h2 {
  margin: 1rem;
  text-align: center;
}

.content ol {
  padding-left: 1.6rem;
}

.ad {
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  position: sticky;
}

@media screen and (min-width: 1000px) {
  .div1 h1 {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 600px) {
  .div2 img, .div3 img {
    width: 30px;
  }
}