* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272829;
  
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */

header {
  padding-left: 0;
  padding-right: 0;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.75);
}

nav {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(5px);
  justify-content: space-between;
}

.judul h2 {
  color: #D8D9DA;
  font-size: 1.2rem;
}

nav img {
  width: 45px;
}

.link {
  padding: 8px;
  color: #D8D9DA;
  font-size: 1.2rem;
  text-decoration: none;
}

.more {
  position: fixed;
  background: #D8D9DA;
  display: flex;
  flex-direction: column;
  padding: 0;
  right: 10px;
  height: 0;
  overflow: hidden;
}

#lain:hover .more {
  height: 100px;
}

.more-link {
  text-decoration: none;
  color: #272829;
  font-size: 1.2rem;
  margin-block: 4px;
}

.judul {
  padding: 8px;
  display: flex;
  align-items: center;
}

/* NEws */

.new {
  padding: 1rem;
  margin: 1rem;
  border: 0.5px solid #D8D9DA;
  border-radius: 15px;
}

.sect-title {
  color: #D8D9DA;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.content aside {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.content a {
  text-decoration: none;
  color: #D8D9DA;
}

.thumbnail {
  width: 120px;
  border-radius: 15px;
  margin: 10px;
}

span.berita {
  text-decoration: none;
  font-size: 1.6rem;
  color: #D8D9DA;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%; 
  font-weight: bold;
}

.desk {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}